:root {
  --color-revenue: var(--color-success);
  --color-expense: var(--color-danger);
}

.ch-money--expense {
  color: var(--color-expense) !important;
}

.ch-money--revenue {
  color: var(--color-revenue) !important;
}
