@font-face {
  font-family: 'CentraleSans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    local('Centrale Sans Light'),
    url('./woff2/CentraleSans-Light.woff2') format('woff2'),
    url('./woff/CentraleSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'CentraleSans';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src:
    local('Centrale Sans Light Italic'),
    url('./woff2/CentraleSans-LightItalic.woff2') format('woff2'),
    url('./woff/CentraleSans-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'CentraleSans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local('Centrale Sans Book'),
    url('./woff2/CentraleSans-Book.woff2') format('woff2'),
    url('./woff/CentraleSans-Book.woff') format('woff');
}

@font-face {
  font-family: 'CentraleSans';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src:
    local('Centrale Sans Book Italic'),
    url('./woff2/CentraleSans-BookItalic.woff2') format('woff2'),
    url('./woff/CentraleSans-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'CentraleSans';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local('Centrale Sans Medium'),
    url('./woff2/CentraleSans-Medium.woff2') format('woff2'),
    url('./woff/CentraleSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'CentraleSans';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src:
    local('Centrale Sans Medium Italic'),
    url('./woff2/CentraleSans-MediumItalic.woff2') format('woff2'),
    url('./woff/CentraleSans-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'CentraleSans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local('Centrale Sans Bold'),
    url('./woff2/CentraleSans-Bold.woff2') format('woff2'),
    url('./woff/CentraleSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'CentraleSans';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src:
    local('Centrale Sans Bold Italic'),
    url('./woff2/CentraleSans-BoldItalic.woff2') format('woff2'),
    url('./woff/CentraleSans-BoldItalic.woff') format('woff');
}
