**/node_modules

# node
**/package-lock.json

# playwright
**/test-results
**/playwright-report
**/playwright/.cache

# compile
**/dist
**/.tsbuildinfo

# testing
**/coverage

# production
**/build

# storybook
**/storybook-static
**/storybook.log
