**/node_modules

# playwright
**/test-results
**/playwright-report
**/playwright

# compile
**/dist
**/.tsbuildinfo

# testing
**/coverage

# production
**/build

# storybook
**/storybook-static
**/storybook.log
