:root {
  --background-color--deep: #121212;
  --background-color--dark: #012015;
  --background-color--top: #003824;
  --background-color--surface: #0d0e0d;

  --background-color--main: var(--background-color--deep);
}
