.t-dark-green {
  --font-color--light: hsl(var(--color-light-green-0));
  --font-color--light-disabled: hsla(var(--color-light-green-0), 80%);

  --font-color--dark: hsl(var(--color-dark-green-100));
  --font-color--dark-disabled: hsla(var(--color-dark-green-100), 60%);
}
