.ch-money--positive .ch-label {
  --money-green: var(--color-green-50);

  color: var(--money-green);
}

.ch-money--negative .ch-label {
  --money-red: var(--color-orange-50);

  color: var(--money-red);
}
