.ch-money {
  font-family: var(--font-family);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
}

.ch-money--positive {
  color: var(--color-signal-green);
}

.ch-money--negative {
  color: var(--color-signal-red);
}
