.ch-navbar {
  display: flex;
  flex-direction: column;

  background-color: var(--ch-navbar--background-color);

  min-width: 250px;
  height: 100%;
}

.ch-navbar-footer {
  margin-top: auto;

  padding-top: 12px;
  padding-bottom: 48px;

  border-top: 1px solid var(--ch-navbar--border-color);
}

.ch-navbar-header {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 48px;
  padding-bottom: 32px;
}
