.ch-label {
  color: var(--font-color);

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);

  cursor: inherit;

  overflow: hidden;

  display: block;

  white-space: nowrap;
  text-align: start;
  text-overflow: ellipsis;

  max-inline-size: fit-content;
}

.ch-label-wrapper {
  display: flex;

  align-items: center;

  gap: 8px;
}
