:root {
  --color-success: #0A855C;
  --color-danger: #E02121;

  --gs-100: hsl(0, 0%, 0%);
  --gs-95: hsl(0, 0%, 5%);
  --gs-90: hsl(0, 0%, 10%);
  --gs-85: hsl(0, 0%, 15%);
  --gs-80: hsl(0, 0%, 20%);
  --gs-75: hsl(0, 0%, 25%);
  --gs-70: hsl(0, 0%, 30%);
  --gs-65: hsl(0, 0%, 35%);
  --gs-60: hsl(0, 0%, 40%);
  --gs-55: hsl(0, 0%, 45%);
  --gs-50: hsl(0, 0%, 50%);
  --gs-45: hsl(0, 0%, 55%);
  --gs-40: hsl(0, 0%, 60%);
  --gs-35: hsl(0, 0%, 65%);
  --gs-30: hsl(0, 0%, 70%);
  --gs-25: hsl(0, 0%, 75%);
  --gs-20: hsl(0, 0%, 80%);
  --gs-15: hsl(0, 0%, 85%);
  --gs-10: hsl(0, 0%, 90%);
  --gs-5:  hsl(0, 0%, 95%);
  --gs-0:  hsl(0, 0%, 100%);

  --color-100: hsl(var(--color-group-blue-100));
  --color-90: hsl(var(--color-group-blue-90));
  --color-85: hsl(var(--color-group-blue-85));
  --color-80: hsl(var(--color-group-blue-80));
  --color-75: hsl(var(--color-group-blue-75));
  --color-70: hsl(var(--color-group-blue-70));
  --color-65: hsl(var(--color-group-blue-65));
  --color-60: hsl(var(--color-group-blue-60));
  --color-55: hsl(var(--color-group-blue-55));
  --color-50: hsl(var(--color-group-blue-50));
  --color-45: hsl(var(--color-group-blue-45));
  --color-40: hsl(var(--color-group-blue-40));
  --color-35: hsl(var(--color-group-blue-35));
  --color-30: hsl(var(--color-group-blue-30));
  --color-25: hsl(var(--color-group-blue-25));
  --color-20: hsl(var(--color-group-blue-20));
  --color-15: hsl(var(--color-group-blue-15));
  --color-10: hsl(var(--color-group-blue-10));
  --color-5: hsl(var(--color-group-blue-5));
  --color-0: hsl(var(--color-group-blue-0));

  --color-group-blue-100: 0, 0%, 0%;
  --color-group-blue-90: 234, 50%, 8%;
  --color-group-blue-85: 236, 52%, 21%;
  --color-group-blue-80: 232, 54%, 24%;
  --color-group-blue-75: 227, 57%, 26%;
  --color-group-blue-70: 221, 63%, 28%;
  --color-group-blue-65: 217, 63%, 30%;
  --color-group-blue-60: 213, 64%, 32%;
  --color-group-blue-55: 209, 69%, 34%;
  --color-group-blue-50: 205, 74%, 35%;
  --color-group-blue-45: 200, 79%, 37%;
  --color-group-blue-40: 200, 62%, 44%;
  --color-group-blue-35: 199, 51%, 51%;
  --color-group-blue-30: 198, 56%, 60%;
  --color-group-blue-25: 197, 56%, 67%;
  --color-group-blue-20: 194, 56%, 76%;
  --color-group-blue-15: 193, 53%, 84%;
  --color-group-blue-10: 193, 65%, 92%;
  --color-group-blue-5: 192, 50%, 97%;
  --color-group-blue-0: 0, 0%, 100%;
}