.ch-table {
  table-layout: fixed;

  padding: 8px;

  width: stretch;

  border-collapse: collapse;
}

.ch-table caption {
  display: none;
}

.ch-table th {
  text-align: left;
}

.ch-table th,
.ch-table td {
  padding: 1rem 1.5rem;

  border-bottom: 1px solid var(--ch-table--border-color);
}

.ch-table th span {
  display: inline-flex;
}

.ch-table th:last-child,
.ch-table td:last-child {
  border-inline-end: 0;
}

.empty-row {
  text-align: center;
}
