.ch-card {
  display: flex;
  flex-direction: column;

  gap: 16px;

  background-color: var(--background-surface);
  border-radius: var(--radius-regular);

  padding: 24px 16px;

  width: stretch;
}
