.ch-card {
  display: flex;
  flex-direction: column;

  gap: 16px;

  background-color: var(--ch-card--background-color);
  border-radius: var(--ch-card--border-radius);

  padding: 24px 16px;

  width: stretch;
}

.ch-card-header {
  display: inline-flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: space-between;
}

.ch-card-header h2 {
  margin: 0;
  padding: 0;
}
