:root {
  --color-gray-95: hsl(0, 0%, 5%);
  --color-gray-90: hsl(0, 0%, 10%);
  --color-gray-85: hsl(0, 0%, 15%);
  --color-gray-80: hsl(0, 0%, 20%);
  --color-gray-75: hsl(0, 0%, 25%);
  --color-gray-70: hsl(0, 0%, 30%);
  --color-gray-65: hsl(0, 0%, 35%);
  --color-gray-60: hsl(0, 0%, 40%);
  --color-gray-55: hsl(0, 0%, 45%);
  --color-gray-50: hsl(0, 0%, 50%);
  --color-gray-45: hsl(0, 0%, 55%);
  --color-gray-40: hsl(0, 0%, 60%);
  --color-gray-35: hsl(0, 0%, 65%);
  --color-gray-30: hsl(0, 0%, 70%);
  --color-gray-25: hsl(0, 0%, 75%);
  --color-gray-20: hsl(0, 0%, 80%);
  --color-gray-15: hsl(0, 0%, 85%);
  --color-gray-10: hsl(0, 0%, 90%);
  --color-gray-5:  hsl(0, 0%, 95%);

  --color-blue-90: hsl(234, 50%, 8%);
  --color-blue-85: hsl(236, 52%, 21%);
  --color-blue-80: hsl(232, 54%, 24%);
  --color-blue-75: hsl(227, 57%, 26%);
  --color-blue-70: hsl(221, 63%, 28%);
  --color-blue-65: hsl(217, 63%, 30%);
  --color-blue-60: hsl(213, 64%, 32%);
  --color-blue-55: hsl(209, 69%, 34%);
  --color-blue-50: hsl(205, 74%, 35%);
  --color-blue-45: hsl(200, 79%, 37%);
  --color-blue-40: hsl(200, 62%, 44%);
  --color-blue-35: hsl(199, 51%, 51%);
  --color-blue-30: hsl(198, 56%, 60%);
  --color-blue-25: hsl(197, 56%, 67%);
  --color-blue-20: hsl(194, 56%, 76%);
  --color-blue-15: hsl(193, 53%, 84%);
  --color-blue-10: hsl(193, 65%, 92%);
  --color-blue-5: hsl(192, 50%, 97%);

  --color-green-90: hsl(160, 50%, 5%);
  --color-green-85: hsl(164, 49%, 13%);
  --color-green-80: hsl(163, 65%, 14%);
  --color-green-75: hsl(159, 84%, 15%);
  --color-green-70: hsl(157, 100%, 16%);
  --color-green-65: hsl(154, 100%, 18%);
  --color-green-60: hsl(150, 100%, 21%);
  --color-green-55: hsl(131, 60%, 30%);
  --color-green-50: hsl(108, 55%, 36%);
  --color-green-45: hsl(89, 66%, 37%);
  --color-green-40: hsl(81, 66%, 39%);
  --color-green-35: hsl(72, 65%, 43%);
  --color-green-30: hsl(66, 59%, 47%);
  --color-green-25: hsl(67, 58%, 54%);
  --color-green-20: hsl(66, 62%, 62%);
  --color-green-15: hsl(66, 68%, 72%);
  --color-green-10: hsl(66, 73%, 82%);
  --color-green-5: hsl(65, 80%, 91%);
  
  --color-orange-90: hsl(341, 54%, 8%);
  --color-orange-85: hsl(340, 51%, 20%);
  --color-orange-80: hsl(343, 55%, 24%);
  --color-orange-75: hsl(350, 55%, 28%);
  --color-orange-70: hsl(1, 55%, 33%);
  --color-orange-65: hsl(9, 62%, 36%);
  --color-orange-60: hsl(13, 67%, 40%);
  --color-orange-55: hsl(18, 73%, 43%);
  --color-orange-50: hsl(25, 81%, 45%);
  --color-orange-45: hsl(30, 87%, 47%);
  --color-orange-40: hsl(35, 87%, 48%);
  --color-orange-35: hsl(41, 81%, 50%);
  --color-orange-30: hsl(44, 84%, 54%);
  --color-orange-25: hsl(45, 87%, 61%);
  --color-orange-20: hsl(45, 90%, 69%);
  --color-orange-15: hsl(46, 95%, 78%);
  --color-orange-10: hsl(47, 92%, 86%);
  --color-orange-5: hsl(48, 91%, 92%);
}
