:root {
  --gs-100: hsl(0, 0%, 0%);
  --gs-95: hsl(0, 0%, 5%);
  --gs-90: hsl(0, 0%, 10%);
  --gs-85: hsl(0, 0%, 15%);
  --gs-80: hsl(0, 0%, 20%);
  --gs-75: hsl(0, 0%, 25%);
  --gs-70: hsl(0, 0%, 30%);
  --gs-65: hsl(0, 0%, 35%);
  --gs-60: hsl(0, 0%, 40%);
  --gs-55: hsl(0, 0%, 45%);
  --gs-50: hsl(0, 0%, 50%);
  --gs-45: hsl(0, 0%, 55%);
  --gs-40: hsl(0, 0%, 60%);
  --gs-35: hsl(0, 0%, 65%);
  --gs-30: hsl(0, 0%, 70%);
  --gs-25: hsl(0, 0%, 75%);
  --gs-20: hsl(0, 0%, 80%);
  --gs-15: hsl(0, 0%, 85%);
  --gs-10: hsl(0, 0%, 90%);
  --gs-5:  hsl(0, 0%, 95%);
  --gs-0:  hsl(0, 0%, 100%);
}

:root {
  --color-100: hsl(0, 0%, 0%);
  --color-90: hsl(234, 50%, 8%);
  --color-85: hsl(236, 52%, 21%);
  --color-80: hsl(232, 54%, 24%);
  --color-75: hsl(227, 57%, 26%);
  --color-70: hsl(221, 63%, 28%);
  --color-65: hsl(217, 63%, 30%);
  --color-60: hsl(213, 64%, 32%);
  --color-55: hsl(209, 69%, 34%);
  --color-50: hsl(205, 74%, 35%);
  --color-45: hsl(200, 79%, 37%);
  --color-40: hsl(200, 62%, 44%);
  --color-35: hsl(199, 51%, 51%);
  --color-30: hsl(198, 56%, 60%);
  --color-25: hsl(197, 56%, 67%);
  --color-20: hsl(194, 56%, 76%);
  --color-15: hsl(193, 53%, 84%);
  --color-10: hsl(193, 65%, 92%);
  --color-5: hsl(192, 50%, 97%);
  --color-0: hsl(0, 0%, 100%);
}

:root {
  --color-signal-green: hsl(145, 100%, 26%);
  --color-signal-red: hsl(0, 74%, 51%);
}
