.ch-button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

  height: fit-content;
  width: max-content;

  border: none;
  border-radius: var(--radius-silent);
}

/* Sizes */

.ch-button--small {
  padding: 8px 12px;
}

.ch-button--medium {
  padding: 12px 16px;
}

/* Primary */

.ch-button--primary {
  --color: #061400;
  --color-disabled: #141812;

  --background-color: #e3fff5;
  --background-color-hover: #ffffff;
  --background-color-disabled: #e3fff59a;

  background-color: var(--background-color);
}

.ch-button--primary:focus-visible {
  outline: 10px solid var(--background-color);
  outline-offset: 2px;
}

.ch-button--primary .ch-label {
  color: var(--color);
}

.ch-button--primary .ch-icon {
  color: var(--color);
}

.ch-button--primary:hover {
  background-color: var(--background-color-hover);
}

.ch-button--primary:disabled {
  background-color: var(--background-color-disabled);
}

.ch-button--primary:disabled .ch-label {
  color: var(--color-disabled);
}

.ch-button--primary:disabled .ch-icon {
  color: var(--color-disabled);
}

/* Secondary */

.ch-button--secondary {
  --color: #ffffff;
  --color-disabled: #b8b8b8;

  --background-color: none;
  --background-hover: var(--background-surface);

  background-color: var(--background-color);
}

.ch-button--secondary .ch-label {
  color: var(--color);
}

.ch-button--secondary .ch-icon {
  color: var(--color);
}

.ch-button--secondary:hover {
  background-color: var(--background-hover);
}

.ch-button--secondary:disabled {
  background-color: var(--background-color-disabled);
}

.ch-button--secondary:disabled .ch-label {
  color: var(--color-disabled);
}

.ch-button--secondary:disabled .ch-icon {
  color: var(--color-disabled);
}
