.t-dark-green {
  --ch-button--background-color--primary: hsl(var(--color-light-green-5));
  --ch-button--background-color--primary-active: hsl(
    var(--color-light-green-15)
  );
  --ch-button--background-color--primary-disabled: hsla(
    var(--color-light-green-5),
    70%
  );
  --ch-button--background-color--primary-focus-visible: hsl(
    var(--color-light-green-5)
  );
  --ch-button--background-color--primary-hover: hsl(
    var(--color-light-green-10)
  );

  --ch-button--background-color--secondary: transparent;
  --ch-button--background-color--secondary-active: hsl(
    var(--color-dark-green-80)
  );
  --ch-button--background-color--secondary-focus-visible: hsl(
    var(--color-dark-green-75)
  );
  --ch-button--background-color--secondary-hover: hsl(
    var(--color-dark-green-75)
  );
}
