.t-dark-green {
  --ch-label--color--regular: var(--font-color--light);
  --ch-label--color--regular-disabled: var(--font-color--light-disabled);

  --ch-label--color--accent: var(--font-color--dark);
  --ch-label--color--accent-disabled: var(--font-color--dark-disabled);
}
