.ch-label {
  --font-family: 'CentraleSans', sans-serif;

  font-family: var(--font-family);

  cursor: inherit;

  overflow: hidden;

  display: block;
  white-space: nowrap;
  text-align: start;

  max-inline-size: fit-content;
}

.ch-label--small {
  --font-size-small: 0.775rem;

  font-size: var(--font-size-small);
}

.ch-label--medium {
  --font-size-medium: 0.85rem;

  font-size: var(--font-size-medium);
}

.ch-label--large {
  --font-size-large: 1rem;

  font-size: var(--font-size-large);
}

.ch-label--xlarge {
  --font-size-xlarge: 1.125rem;

  font-size: var(--font-size-xlarge);
}

.ch-label--regular {
  --font-weight-regular: 500;

  font-weight: var(--font-weight-regular);
}

.ch-label--emphasis {
  --font-weight-emphasis: 700;

  font-weight: var(--font-weight-emphasis);
}

.ch-label-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  color: white;
}

.ch-label-wrapper-disabled {
  --font-disabled: #a1a1a1;

  color: var(--font-disabled);
}
