.ch-grid {
  --grid-layout-gap-none: 0px;
  --grid-layout-gap-panel: 16px;

  --grid-layout-padding-none: 0px;
  --grid-layout-padding-small: 8px;
  --grid-layout-padding-medium: 16px;

  display: grid;

  box-sizing: border-box;

  block-size: 100%;
  inline-size: 100%;

  padding: var(--grid-layout-padding);

  grid-template-areas: var(--grid-layout-template-areas);
  grid-template-rows: var(--grid-layout-template-rows);
  grid-template-columns: var(--grid-layout-template-columns);

  row-gap: var(--grid-layout-row-gap);
  column-gap: var(--grid-layout-column-gap);
}
