.ch-button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

  height: fit-content;
  width: max-content;

  border: none;
}

/* Sizes */

.ch-button--small {
  padding: 8px 12px;
}

.ch-button--medium {
  padding: 12px 16px;
}

.ch-button--large {
  padding: 16px 20px;
}

.ch-button--fillAvailable {
  padding: 12px 16px;

  width: stretch;
}

/* Primary */

.ch-button--primary {
  --background-color: #e3fff5;

  background-color: var(--background-color);
}

.ch-button--primary:disabled {
  --background-color-disabled: #e3fff59a;

  background-color: var(--background-color-disabled);
}

.ch-button--primary:not(:disabled):hover {
  --background-color-hover: #d8fdf0;

  background-color: var(--background-color-hover);
}

.ch-button--primary:not(:disabled):focus-visible {
  outline: 4px solid var(--background-color);
  outline-offset: 2px;
}

.ch-button--primary:not(:disabled):active {
  --background-color-active: #c1f7e4;

  background-color: var(--background-color-active);
}

/* Secondary */

.ch-button--secondary {
  background-color: var(--background-color);
}

.ch-button--secondary:not(:disabled):hover {
  --background-color-hover: #03311c;

  background-color: var(--background-color-hover);
}

.ch-button--secondary:not(:disabled):focus-visible {
  --background-color-focus-visible: #03311c;

  outline: none;

  background-color: var(--background-color-focus-visible);
}

.ch-button--secondary:not(:disabled):active {
  --background-color-active: #032616;

  background-color: var(--background-color-active);
}
