.ch-button {
  cursor: pointer;

  display: flex;
  align-items: center;

  gap: 8px;

  height: fit-content;

  border: none;

  padding: var(--button-padding);
  width: var(--button-width);

  background-color: var(--button-background-color);
}

.ch-button--justify-spaceBetween {
  justify-content: space-between;
}

.ch-button--justify-center {
  justify-content: center;
}

.ch-button:disabled {
  background-color: var(--button-background-color-disabled);

  cursor: not-allowed;
}

.ch-button:not(:disabled):hover {
  background-color: var(--button-background-color-hover);
}

.ch-button:not(:disabled):active {
  background-color: var(--button-background-color-active);
}

.ch-button:not(:disabled):focus-visible {
  background-color: var(--button-background-color-focus-visible);
}

/* Variants */

.ch-button--primary:not(:disabled):focus-visible {
  outline: 4px solid var(--button-background-color-focus-visible);
  outline-offset: 2px;
}

.ch-button--secondary:not(:disabled):focus-visible {
  outline: none;
}

.ch-button--silentEmphasis:not(:disabled):focus-visible {
  outline: none;
}
