:root {
  --color-text-regular: var(--color-85);
  --color-text-light: var(--color-5);
}

.ch-text {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-base);
  font-style: var(--font-style-regular);

  letter-spacing: 0.2px;
}

.ch-text--dark {
  color: var(--color-text-regular);
}

.ch-text--light {
  color: var(--color-text-light);
}

.ch-text--italic {
  font-style: var(--font-style-italic);
}

.ch-text--bold {
  font-weight: var(--font-weight-bold);
}

.ch-text--small {
  font-size: var(--font-size-small);
}

.ch-text--large {
  font-size: var(--font-size-large);
}
