.t-dark-green {
  --radius-silent: 4px;
  --radius-regular: 8px;
  --radius-emphasis: 16px;

  --border-color: hsl(var(--color-light-green-0));
  --border-color--light: hsl(var(--color-lime-green-95));
}
