.ch-list {
  display: flex;

  align-items: var(--list-align-items);
  flex-direction: var(--list-flex-direction);
  justify-items: var(--list-justify-items);

  margin: 0;
  padding: 0;

  gap: var(--list-gap);
}
