.ch-list {
  display: flex;

  margin: 0;
  padding: 0;
}

.ch-list--vertical {
  flex-direction: column;
  align-items: center;
}

.ch-list--horizontal {
  flex-direction: row;
  justify-items: center;
}

.ch-list--xsmall {
  gap: 0.5rem;
}

.ch-list--small {
  gap: 1rem;
}
